<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Login page">
		<meta name="author" content="">
		<link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

		<title>Clinique Alsalam | Connexion</title>

		<link
		rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

		<!-- Bootstrap core CSS -->
		<link
		href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
		<link href=" {{ asset('css/login.css') }} " rel="stylesheet">

		<body class="text-center">
			<form class="form-signin" method="post">
				<img class="mb-4" src="" alt="LOGO" width="72" height="72">
				<h1 class="h3 mb-3 font-weight-normal">Clinique Alsalam</h1>

				{% if error %}
					<div class="alert alert-danger" role="alert">
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}

				{% if app.user %}
					<div class="alert alert-warning" role="alert">
						You are logged in as
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}" class="alert-link">Logout</a>
					</div>
				{% endif %}

				<label for="inputEmail" class="sr-only">Adresse Email</label>
				<input type="email" class="form-control" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
				<label for="inputPassword" class="sr-only">Mot de passe</label>
				<input type="password" class="form-control" placeholder="Mot de passe" name="password" id="inputPassword" required>
				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
								    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
								    See https://symfony.com/doc/current/security/remember_me.html
								    #}

				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" name="_remember_me">
						Remember me
					</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				<p class="mt-5 mb-3 text-muted">©The Agency | 2020</p>
			</form>
		</body>
	</head>
</html>
