{{ form_start(form) }}
<div class="row">
	<div class="col">
		{{ form_errors(form) }}
	</div>
</div>

<div class="row">
	<div class="col">
		<label for="nom">Nom :</label>
		{{ form_row(form.nom) }}

	</div>
	<div class="col">
		<label for="Prénom">Prénom :</label>
		{{ form_row(form.prenom) }}
	</div>
</div>

<div class="row">
	<div class="col">
		<label for="age">Âge :</label>
		{{ form_row(form.age) }}

	</div>
	<div class="col">
		<label for="tel">Téléphone :</label>
		{{ form_row(form.tel) }}
	</div>
</div>
<div class="row">
	<div class="col">
		<label for="age">Adresse :</label>
		{{ form_row(form.adresse) }}
	</div>
</div>
<div class="row">
	<div class="col">
		<label for="age">Chirurgien :</label>
		{{ form_row(form.chirurgien) }}
	</div>
	<div class="col">
		<label for="age">Entrée :</label>
		{{ form_row(form.entree) }}
	</div>
	<div class="col">
		<label for="age">Sortie :</label>
		{{ form_row(form.sortie) }}
	</div>

</div>
<div class="row">
	<div class="col">
		<label for="age">Aide :</label>
		{{ form_row(form.aide) }}
	</div>
</div>
<div class="row">
	<div class="col">
		<label for="Diagnostique">Diagnostique :</label>
		{{ form_row(form.diagnostique) }}
	</div>
</div>
<br>
<h5>1. Bloc opération</h5>
<table class="table ">
	<thead>
		<tr>
			<th>Location</th>
			<th>Supp Instrumentation</th>
			<th>Supp anesthésie</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ form_row(form.location) }}</td>
			<td>{{ form_row(form.supp_ins) }}</td>
			<td>{{ form_row(form.supp_ane) }}</td>
			<td>{{ form_row(form.total_bloc) }}</td>
		</tr>
	</tbody>
</table>
<h5>2. Hospitalisation</h5>
<table class="table ">
	<thead>
		<tr>
			<th>Désignation</th>
			<th>Tarif journée</th>
			<th>Nbre de journée</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Hospitalisation malade</th>
			<td>{{ form_row(form.malade_tarif) }}</td>
			<td>{{ form_row(form.malade_jour) }}</td>
			<td>{{ form_row(form.malade_total) }}</td>
		</tr>
		<tr>
			<th scope="row">Hospitalisation gardes malade</th>
			<td>{{ form_row(form.garde_malade_tarif) }}</td>
			<td>{{ form_row(form.garde_malade_jour) }}</td>
			<td>{{ form_row(form.garde_malade_total) }}</td>
		</tr>
	</tbody>
</table>
<h5>3. Soins et médicaments</h5>
<table class="table ">
	<thead>
		<tr>
			<th>Désignation</th>
			<th>Quantité</th>
			<th>Prix unitaire</th>
			<th>Quantité</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Médicament</th>
			<td>{{ form_row(form.med1) }}</td>
			<td>{{ form_row(form.med2) }}</td>
			<td>{{ form_row(form.med3) }}</td>
			<td>{{ form_row(form.med4) }}</td>

		</tr>
		<tr>
			<th scope="row">Files de suture</th>
			<td>{{ form_row(form.suture1) }}</td>
			<td>{{ form_row(form.suture2) }}</td>
			<td>{{ form_row(form.suture3) }}</td>
			<td>{{ form_row(form.suture4) }}</td>

		</tr>
		<tr>
			<th scope="row">Soins particuliers</th>
			<td>{{ form_row(form.soins1) }}</td>
			<td>{{ form_row(form.soins2) }}</td>
			<td>{{ form_row(form.soins3) }}</td>
			<td>{{ form_row(form.soins4) }}</td>

		</tr>
		<tr>
			<th scope="row">Bilan sanguin</th>
			<td>{{ form_row(form.bilan1) }}</td>
			<td>{{ form_row(form.bilan2) }}</td>
			<td>{{ form_row(form.bilan3) }}</td>
			<td>{{ form_row(form.bilan4) }}</td>

		</tr>
		<tr>
			<th scope="row">Radiologie</th>
			<td>{{ form_row(form.radio1) }}</td>
			<td>{{ form_row(form.radio2) }}</td>
			<td>{{ form_row(form.radio3) }}</td>
			<td>{{ form_row(form.radio4) }}</td>

		</tr>
	</tbody>
</table>
<div style="text-align: right;">
	<button type="submit" class="btn btn-primary">Enregistrer</button>
</div>
{{ form_end(form) }}
