{% extends 'base.html.twig' %}

{% block title %}Patient index
{% endblock %}

{% block body %}
	<h1>Patients</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Age</th>
				<th>Adresse</th>
				<th>Tel</th>
				<th>Entree</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for patient in patients %}
				<tr>
					<td>{{ patient.id }}</td>
					<td>{{ patient.nom }}</td>
					<td>{{ patient.prenom }}</td>
					<td>{{ patient.age }}</td>
					<td>{{ patient.adresse }}</td>
					<td>{{ patient.tel }}</td>
					<td>{{ patient.entree ? patient.entree|date('Y-m-d') : '' }}</td>

					<td>
						<a href="{{ path('patient_show', {'id': patient.id}) }}">show</a>
						<a href="{{ path('patient_edit', {'id': patient.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="18">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('patient_new') }}">Create new</a>
{% endblock %}
