{% extends 'base.html.twig' %}

{% block title %}Patient #{{ patient.id }}
{% endblock %}

{% block body %}
<h1>Patient #{{ patient.id }}</h1>


<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ patient.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ patient.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ patient.prenom }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{{ patient.age }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ patient.adresse }}</td>
        </tr>
        <tr>
            <th>Tel</th>
            <td>{{ patient.tel }}</td>
        </tr>
        <tr>
            <th>Entree</th>
            <td>{{ patient.entree ? patient.entree|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Sortie</th>
            <td>{{ patient.sortie ? patient.sortie|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Chirurgien</th>
            <td>{{ patient.chirurgien }}</td>
        </tr>
        <tr>
            <th>Aide</th>
            <td>{{ patient.aide }}</td>
        </tr>
        <tr>
            <th>Diagnostique</th>
            <td>{{ patient.diagnostique }}</td>
        </tr>
    </tbody>
</table>
<br>
<h4>1. Bloc opération :</h4>
<br>
<table class="table ">
    <thead>
        <tr>
            <th>Location</th>
            <th>Supp Instrumentation</th>
            <th>Supp anesthésie</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ patient.bloc.location  }}</td>
            <td>{{ patient.bloc.supp_ins  }}</td>
            <td>{{ patient.bloc.supp_ane  }}</td>
            <td>{{ patient.bloc.total_bloc  }}</td>
        </tr>
    </tbody>
</table></br>
<h4>2. Hospitalisation</h4><br>
<table class="table ">
    <thead>
        <tr>
            <th>Désignation</th>
            <th>Tarif journée</th>
            <th>Nbre de journée</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Hospitalisation malade</th>
            <td>{{ patient.malade.tarif  }}</td>
            <td>{{ patient.malade.jour  }}</td>
            <td>{{ patient.malade.total  }}</td>
        </tr>
        <tr>
            <th scope="row">Hospitalisation gardes malade</th>
            <td>{{ patient.gardeMalade.tarif  }}</td>
            <td>{{ patient.gardeMalade.jour  }}</td>
            <td>{{ patient.gardeMalade.total  }}</td>
        </tr>
    </tbody>
</table><br>
<h4>3. Soins et médicaments</h4><br>
<table class="table ">
    <thead>
        <tr>
            <th>Désignation</th>
            <th>Quantité</th>
            <th>Prix unitaire</th>
            <th>Quantité</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Médicament</th>
            <td>{{ patient.medicament.qte  }}</td>
            <td>{{ patient.medicament.prixUnitaire  }}</td>
            <td>{{ patient.medicament.qte1  }}</td>
            <td>{{ patient.medicament.total  }}</td>
        </tr>
        <tr>
            <th scope="row">Files de suture</th>
            <td>{{ patient.suture.qte  }}</td>
            <td>{{ patient.suture.prixUnitaire  }}</td>
            <td>{{ patient.suture.qte1  }}</td>
            <td>{{ patient.suture.total  }}</td>
        </tr>
        <tr>
            <th scope="row">Soins particuliers</th>
            <td>{{ patient.soins.qte  }}</td>
            <td>{{ patient.soins.prixUnitaire  }}</td>
            <td>{{ patient.soins.qte1  }}</td>
            <td>{{ patient.soins.total  }}</td>
        </tr>
        <tr>
            <th scope="row">Bilan sanguin</th>
            <td>{{ patient.bilanSanguin.qte  }}</td>
            <td>{{ patient.bilanSanguin.prixUnitaire  }}</td>
            <td>{{ patient.bilanSanguin.qte1  }}</td>
            <td>{{ patient.bilanSanguin.total  }}</td>
        </tr>
        <tr>
            <th scope="row">Radiologie</th>
            <td>{{ patient.radiologie.qte  }}</td>
            <td>{{ patient.radiologie.prixUnitaire  }}</td>
            <td>{{ patient.radiologie.qte1  }}</td>
            <td>{{ patient.radiologie.total  }}</td>
        </tr>
    </tbody>
</table><a href="{{ path('patient_index') }}">back to list</a><a
    href="{{ path('patient_edit', {'id': patient.id}) }}">edit</a>{{ include('patient/_delete_form.html.twig') }}{% endblock %}