{% extends 'base.html.twig' %}

{% block title %}Historique index
{% endblock %}

{% block body %}
	<h1>Historique index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Data</th>
				<th>CreatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for historique in historiques %}
				<tr>
					<td>{{ historique.id }}</td>
					<td>{{ historique.data ? historique.data|json_encode : '' }}</td>

					<td>{{ historique.createdAt ? historique.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('historique_show', {'id': historique.id}) }}">show</a>
						{% if  is_granted('ROLE_SUPER_ADMIN') %}
							<a href="{{ path('historique_edit', {'id': historique.id}) }}">edit</a>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
