<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	{% block stylesheets %}{% endblock %}
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 30px;">
		<a class="navbar-brand" href=" {{path('admin')}} ">Clinique Alsalam</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href=" {{path('patient_index')}} ">Patients
						<span class="sr-only">(current)</span>
					</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}<li class="nav-item">
					<a class="nav-link" href=" {{path('user_index')}} ">Utilisateurs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href=" {{path('historique_index')}} ">Historique</a>
				</li>
				{% endif %}

			</ul>
			<ul class="navbar-nav my-3 my-lg-0">
				{% if app.user %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ app.user.username }}

					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ path('app_logout') }}">
							<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
							Logout
						</a>
					</div>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	<div class="container" id="mainContainer">
		<div class="jumbotron">
			<div class="container"> {% block body %}{% endblock %}

			</div>
		</div>
	</div>

	<!-- JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.fr.min.js"></script>
	{% block javascripts %}{% endblock %}
</body>

</html>