{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_errors(form) }}
    </div>
</div>

<div class="row">
    <div class="col">
        <label for="nom">Nom :</label>
        {{ form_row(form.nom) }}

    </div>
    <div class="col">
        <label for="Prénom">Prénom :</label>
        {{ form_row(form.prenom) }}
    </div>
</div>

<div class="row">
    <div class="col">
        <label for="email">Email :</label>
        {{ form_row(form.email) }}

    </div>
    <div class="col">
        <label for="plainPassword">Mot de passe :</label>
        {{ form_row(form.plainPassword) }}
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="roles">Type du compte :</label>
        {{ form_row(form.roles) }}
    </div>
</div>
<br>
<div style="text-align: right;">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</div>
{{ form_end(form) }}