{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
	<h1>Edit User</h1>

	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

	<div class="md-6" style="text-align: left;">
		<a class="btn btn-link" href="{{ path('user_index') }}">back to list</a>

	</div>

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
