{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<h1>User index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Email</th>
				<th>Roles</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.nom }}</td>
					<td>{{ user.prenom }}</td>
					<td>{{ user.email }}</td>
					{% if user.roles | length == 1 %}
						{% for role in user.roles %}
							<td>
								{{ role }}
							</td>

						{% endfor %}
					{% else %}
						<td>
							{% for role in user.roles %}

								{{ role|e }}
								<br>


							{% endfor %}
						</td>

					{% endif %}

					<td>
						<a href="{{ path('user_show', {'id': user.id}) }}">show</a>
						<a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('user_new') }}">Create new</a>
{% endblock %}
